@import "../../index.scss";

.primary {
  color: white;
  background-color: $primaryColor;
}

.alert {
  color: white;
  background-color: $alertRedColor;
}

.simple {
  background-color: $whiteSimpleColor;
  color: black;
}

.confirm {
  background-color: $primaryGreen;
  color: white;
}

.button {
  border-radius: 8px;
  border: none;
  padding: 10px 33px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  border: 1px solid $strokeColor;
  font-weight: bold;
  font-size: 16px;
}

.primary:hover {
  background-color: $primaryColorDarker;
}

.alert:hover {
  background-color: #e73535;
}

.simple:hover {
  background-color: #d7d7d7;
}

.confirm:hover {
  background-color: #33CD55;
}

.buttonDisabled {
  background-color: #b0b4bf;
  cursor: not-allowed;
  pointer-events: none;
}
