@import '../../index.scss';

.header {
  width: 100%;
  height: 80px;
	background-color: $primaryColor;
  color: white;

  display: flex;
  align-items: center;
  padding-left: 37px;
  box-sizing: border-box;
}
