@import '../../index.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.innerContainer {
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  box-sizing: border-box;
}
